@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$rale: "Raleway", sans-serif;
body{
  background-color: #f4f4f4;
  border: 1.7vw solid #00a99d;
  font-family: $rale;
  margin: 0;
  padding: 0;
}
.raleway-normal {
  font-family: $rale;
  font-weight: 400;
  font-style: normal;
}
.raleway-bold {
  font-family: $rale;
  font-weight: 800;
  font-style: normal;
}
.raleway-italic {
  font-family: $rale;
  font-weight: 400;
  font-style: italic;
}
.block{
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
}
.left-column{
  background-color: #d1e8e6;
  padding: 20px;
}
.right-column{
  margin: 0 !important;
  padding-left: 3vw;
  padding-right: 2.5vw;
  h2{
    text-align: left;
  }
  .horizontal-line{
    margin: 4vw 0 4vw 0;
  }
}
img{
  height: 380px;
  width: 380px;
  border-radius: 200px;
  border: 15px solid #ffffff;
  margin: 40px;
}
.horizontal-line{
  height: 2px;
  background-color: #333333;
  margin: 3.5vw 4vw 3.5vw 4vw;
}
.vertical-line {
  width: 1px;
  border-left: 3px solid black;
}
h1{
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 800;
}
h2 {
  text-transform: uppercase;
  font-size: 42px;
  //font-weight: 750;
  padding-bottom: 1vw;
}
h3{
  text-transform: uppercase;
  font-size: 27px;
}
.icons {
  font-size: 3rem;
  color: #00a99d;
  padding: 20px 20px 20px 0;
}
.contact-me{
  p{
    font-size: 25px;
    margin: 5px 0;
    padding: 0;
  }
  i{
    margin-right: 5px;
  }
}
.education{
  p{
    text-transform: uppercase;
    font-size: 1.3vw;
    margin: 5px 0;
    padding: 0;
  }
  h2{
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.references{
  margin-bottom: 50px;
  h2{
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  p{
    font-size: 1.6vw;
    padding-right: 90px;
    text-align: right;
    margin: 5px 0;
  }
}
