body {
  font-family: raleway, Raleway Roman, sans-serif;
  color: #111111;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  background-color: #f2f2f2;
}

.resume-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  /*outline-color: #00a99d;
  outline-style: solid;
  outline-width: thick;*/
  border: 15px solid #00a99d;
  background-color: #ffffff;
  font-weight: lighter;
}

/*font-weight: 700; for headings, for regular text 100-400, it doesn't matter*/


.left-column {
  /*flex: auto;*/
  flex-basis: 33%;
  height: 100vh;
  /* flex-direction: column;*/
  margin-left: 40px;
  margin-right: 40px;
  background-color: #d1e8e6;
  opacity: 0.85;
  padding: 20px;
  text-align: center;
}
.profile {
  align-items: center;
}
.right-column {
  flex: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

img {
  height: 350px;
  width: 350px;
  border-radius: 200px;
  border: 15px solid #ffffff;
  margin: 40px;
}
.icons {
  font-size: 3.5rem;
  color: #00a99d;
 /* border: 2px solid #00a99d;*/
 /* border-radius: 50%;*/
  padding: 10px;
}
/*bootstrap icons*/
/*fontawesome*/

.vertical-line {
  border-left: 2px solid #333333;
  height: 100%;
}