@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$rale: "Raleway", sans-serif;
body{
  background-color: #f4f4f4;
  border: 1.7vw solid #00a99d;
  font-family: $rale;
  margin: 0;
  padding: 0;
}
.raleway-normal {
  @include raleway(400, normal);
  /*font-family: $rale;
  font-weight: 400;
  font-style: normal;*/
}
.raleway-bold {
  @include raleway(800, normal);
  /*font-family: $rale;
  font-weight: 800;
  font-style: normal;*/
}
.raleway-italic {
  @include raleway(400, italic);
  /*font-family: $rale;
  font-weight: 400;
  font-style: italic;*/
}
@mixin raleway($weight, $style){
  font-family: $rale;
  font-weight: $weight;
  font-style: $style;
}
.block{
  justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
}
.left-column{
  background-color: #d1e8e6;
  padding: 20px;
}
//create mixin
.right-column{
  margin: 0 !important;
  padding-left: 3vw;
  padding-right: 2.5vw;

  h2 {
    text-align: left;
  }
  .horizontal-line{
    margin: 3.5vw 0 4vw 0;
  }
}
img{
  height: 380px;
  width: 380px;
  border-radius: 200px;
  border: 15px solid #ffffff;
  margin: 40px;
}
.horizontal-line{
  height: 2px;
  background-color: #333333;
  margin: 3.5vw 4vw 3.5vw 4vw;
}
.vertical-line {
  width: 1px;
  border-left: 3px solid black;
}
h1{
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 800;
}
h2 {
  text-transform: uppercase;
  font-size: 42px;
  //font-weight: 750;
  padding-bottom: 1vw;
}
h3{
  text-transform: uppercase;
  font-size: 27px;
}
.icons {
  font-size: 3rem;
  color: #00a99d;
  padding: 20px 20px 20px 0;
}
.align{
  display: flex;
  align-items: center;
}
.contact-me{
  p{
    font-size: 25px;
    margin: 5px 0;
    padding: 0;
  }
  i{
    margin-right: 5px;
  }
}
.education{
  p{
    text-transform: uppercase;
    font-size: 1.3vw;
    margin: 5px 0;
    padding: 0;
  }
  h2{
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.references{
  margin-bottom: 50px;
  h2{
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  p{
    font-size: 1.6vw;
    padding-right: 90px;
    text-align: right;
    margin: 5px 0;
  }
  h3{
    padding-top: 1vw;
    padding-bottom: 0.5vw;
  }
  .icons{
    padding-bottom: 0;
  }
}
.about-me{
  margin-top:50px;
  p{
    text-align: justify;
    font-size: 25px;
  }
  h2{
    padding-right: 5px;
    justify-content: left;
  }
}
.job-experience{
  text-align: left;
  p{
    text-align: justify;
    font-size: 21px;
  }
  h3{
    display: flex;
    justify-content: space-between;
    //font-weight: 600;
  }
  span{
    font-size: 1.7vw;
    text-transform: none;
    font-weight: 600;
  }
}
progress{
  appearance: unset;
  border-radius: 100px;
  border: 1px solid #333333;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
progress::-webkit-progress-bar{
  background-color: #ffffff;
  border-radius: 100px;
  display: block;
}
progress::-webkit-progress-value{
  background-color: #00a99d;
  border-radius: 100px;
  display: block;
}
#bar{
  width:95px;
  height:8px;
}
.skill{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.8vw 1vw 1vw 0;
  h6{
    font-size: 1.2vw;
    font-weight: bold;
  }
}
li::marker{
  color: #00a99d;
  font-size: 2.5vw;
}
li{
  padding-left: 1.5vw;
  text-indent: -2vw;
}
ul{
  list-style-type: disc;
  font-size: 1.5vw;
  text-transform: uppercase;
  list-style-position: outside;
}
.r{
  li{
    //text-indent: -8vw;
    text-align: left;
  }
}